/*Body*/

/*Sección Header*/

section.header{
  width: 1,440px;
  height: 96px;
  background-color: #5300C8;
  box-shadow: 0px 7px 0.9px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu{
  width: 374px;
  height: 56px;
  display: flex;
  align-items: center;
}

.header__logo{
  width: 138px;
  height: 56px;
}

.header__title{
  width: 240px;
  height: 50px;
  padding-top: 35px;
  font-family: "Press Start 2P", system-ui;
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #E5E5E5;
}

/*Main*/

main{
  width: 1,440px;
  height: 1,235px;
  padding: 60px 40px 60px 40px;
  gap: 70px;
  border-radius: 10px 0px 0px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
}

/*Sección de Productos*/

section.productos{
  width: 750px;
  height: 1,115px;
  padding: 40px 0px 0px 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.productos__title{
  width: 580px;
  height: 24px;
  font-family: "Press Start 2P", system-ui;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
  justify-content: center;
  margin-left: 50px;
}

.productos__container{
  width: 678px;
  height: 971px;
  padding: 15px 0px 0px 0px;
  gap: 115px;
  box-shadow: -12px 10px 5.8px 0px #00000040;
}

.productos__list{
  width: 608px;
  height: 336px;
  padding: 0px 0px 10px 0px;
  display: flex;
}

.productos__card{
  width: 196px;
  height: 250px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 10px;
  background: #5D04D9;
  border: 3px solid #000000;
  box-shadow: -5px 6px 3.3px 0px #00000040;
  text-align: center;
  margin-left: 15px;
}

.productos__card__img{
  width: 176px;
  height: 174px;
  border-radius: 5px;
  border: 3px;
  padding-bottom: 10px;
}

.productos__card__container-info{
  width: 176px;
  height: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #FFFFFF;
  padding-left: 10px;
}

.productos__card__container-value{
  width: 176px;
  height: 24px;
  gap: 10px;
  display: flex;
  padding: 10px 0px;
}

.productos__card__container-value p{
  width: 142px;
  height: 21px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  text-align: left;
  color: #FFFFFF;
}

.productos__card__container-value img{
  width: 24px;
  height: 24px;
}

/*Sección de Formulario*/

section.form{
  width: 480px;
  height: 517px;
  padding: 40px 0px 0px 0px;
}

.form__container{
  width: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__title{
  width: 392px;
  height: 30px;
  font-family: "Press Start 2P", system-ui;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.form__title:nth-child(2){
  margin-bottom: 30px;
}

.form__input{
  width: 392px;
  height: 58px;
  border: 3px solid #03318C;
  border-radius: 50px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  text-align: left;
  color: #03318C;
  padding-left: 14.15px;
  margin-bottom: 40px;
}

.form__input::placeholder{
  width: 203.08px;
  height: 39px;
  padding-top: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  text-align: left;
  color: #03318C;
}

.form__button{
  width: 410px;
  height: 55px;
  gap: 13px;
  display: flex;
  justify-content: space-between;
}

.form__button__enviar{
  width: 188px;
  height: 55px;
  border-radius: 15px;
  background: #03318C;
  border: 3px solid #03318C;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.form__button__limpiar{
  width: 188px;
  height: 55px;
  border-radius: 15px;
  background: #FFFFFF;  
  border: 3px solid #03318C;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #03318C;
  margin-left: 16px;
}


/*Sección Footer*/

section.footer{
    width: 1,440px;
    height: 232px;
    gap: 0px;
    background-color: #5300C8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 9.5px 0px #00000040;
}

.footer__rodape{
    width: 374px;
    height: 56px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
    justify-content: center;
}

.footer__logo{
  width: 374px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__corazones{
  width: 138px;
  height: 56px;
}

.footer__title{
  width: 240px;
  height: 50px;
  padding-top: 35px;
  font-family: "Press Start 2P", system-ui;
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #E5E5E5;
}

.footer__text{
  width: 374px;
  height: 28px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  justify-content: center;
}

.footer__text:nth-child(3){
  width: 374px;
  height: 48px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  text-align: center;
  justify-content: center;
}